.container {
  background-color: white;
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.close {
  position: absolute;
  top: 0;
  right: 15px;
  font-family: monospace;
  font-size: 45px;
  transform: rotate(45deg);
  opacity: 0.8;
  color: white;
  text-decoration: none;
}

.header {
  padding: 20px;
  background-color: #516ecd;
  color: white;
}

.header h1 {
  opacity: 0.5;
  font-size: 13px;
  margin: 0;
}

.header h2 {
  font-weight: 100;
  font-size: 19px;
  margin: 18px 0px 7px 0;
}

.header span {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -1px;
}

.usdAmount {
  margin-left: 10px;
}

.transactions {
  padding: 20px;
}

.transactions h2 {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.transactions ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.transactions ul li {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 0 0;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
}

.boxGreen {
  border-radius: 2px;
  border: green 1px solid;
  color: green;
  font-size: 0.8em;
  line-height: 1;
  padding: 0 5px;
}

.boxRed {
  border-radius: 2px;
  border: red 1px solid;
  color: red;
  font-size: 0.8em;
  line-height: 1;
  padding: 0 5px;
}

.noTxsTxt {
  font-weight: 100;
}

.activityList li div:nth-child(1) {
  width: 30%;
}

.activityList li div:nth-child(2),
.activityList li div:nth-child(3) {
  width: 35%;
}

.ldsEllipsis {
  display: block;
  height: 80px;
  margin: 20px auto;
  position: relative;
  width: 80px;
}

.ldsEllipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #bfbfbf;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsEllipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.ldsEllipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.ldsEllipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.ldsEllipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
  }
}
