.container {
  background-color: white;
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.header {
  background: rgb(99, 112, 240);
  background: linear-gradient(
    45deg,
    rgba(99, 112, 240, 1) 0%,
    rgba(108, 162, 234, 1) 100%
  );
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  position: relative;
  height: 170px;
}

.header h1 {
  opacity: 0.5;
  font-size: 13px;
  margin: 0;
}

.header span {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -1px;
}

.header h2 {
  font-weight: 400;
  font-size: 1.6em;
  margin: 40px 0 0 0;
}

.header .balanceBox {
  text-align: right;
}

.header .balanceBox .balance {
  font-weight: 600;
  font-size: 1.7em;
  margin: 14px 0;
}

.header .balanceBox .usdAmount {
  font-weight: 100;
  font-size: 1.2em;
  display: block;
}

.header .headerFooter {
  background-color: white;
  width: 100%;
  position: absolute;
  right: 0;
  height: 10px;
  border-radius: 5px;
  bottom: -5px;
}

.backButton {
  align-items: center;
  border-radius: 4px;
  border: 1px white solid;
  color: white;
  display: flex;
  height: 45px;
  justify-content: center;
  margin: 32px 20px 0 0;
  text-decoration: none;
  width: 45px;
}

.backButton img {
  width: 8px;
}

.transactions {
  padding: 20px;
}

.transactions h2 {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}

.transactions ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.transactions ul li {
  border-radius: 4px;
  border: 1px solid rgb(231, 231, 231);
  display: flex;
  justify-content: space-between;
  margin: 18px 0 0 0;
  padding: 15px 10px;
}

.date {
  display: block;
  margin-top: 6px;
  color: #a1a1a1;
}

.boxGreen {
  color: green;
  font-size: 0.8em;
  line-height: 1;
  margin-top: 6px;
}

.boxRed {
  color: red;
  font-size: 0.8em;
  line-height: 1;
  margin-top: 6px;
}

.noTxsTxt {
  font-weight: 100;
}

.activityList li {
  width: calc(100% - 20px);
}

.itemBalance {
  text-align: right;
}

.itemBalance span {
  display: block;
}

.ldsEllipsis {
  display: block;
  height: 80px;
  margin: 20px auto;
  position: relative;
  width: 80px;
}

.ldsEllipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #bfbfbf;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsEllipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.ldsEllipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.ldsEllipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.ldsEllipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
  }
}
