.container {
  background-color: #c3c3c3;
  min-height: 200px;
  padding: 10px 20px 20px 10px;
  position: relative;
  width: calc(50% - 30px);
  ;
}

.editor {
  border: none;
  font-family: monospace;
  height: 100%;
  line-height: 1.4;
  margin: 0;
  padding: 10px 0 0 10px;
  resize: none;
  width: 100%;
}

.save-btn {
  background-color: #516ecd;
  border: none;
  bottom: 20px;
  color: white;
  font-size: 19px;
  font-weight: 100;
  padding: 9px 28px;
  position: absolute;
  right: 20px;
  font-family: inherit;
  cursor: pointer;
}

.expand-btn {
  background-color: #516ecd;
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 19px;
  font-weight: 100;
  padding: 9px 28px;
  width: calc(100% + 10px);
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
  }
  .editor {
    height: calc(100% - 55px);
  }
  .save-btn {
    bottom: 12px;
    right: 12px;
  }
}