.container {
  background-color: white;
  height: calc(100vh - 275px);
  position: absolute;
  bottom: 0;
  width: 50%;
  border-radius: 5px;
  margin: 0 25%;
}

.editor {
  color: #333;
  border: none;
  display: block;
  font-family: monospace;
  height: calc(100% - 117px);
  line-height: 1.4;
  margin: 20px auto 0 auto;
  resize: none;
  width: calc(100% - 40px);
}

.actionBox {
  bottom: 35px;
  display: flex;
  position: absolute;
  text-align: center;
  width: 100%;
  justify-content: space-between;
}

.hideBtn,
.saveBtn {
  background-color: #516ecd;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 400;
  padding: 15px 0;
  width: calc(50% - 10px);
}

.hideBtn {
  background-color: white;
  margin: 0 20px 0 20px;
  color: black;
  border: 1px solid rgb(231, 231, 231);
}

.saveBtn {
  background: rgb(95, 95, 251);
  background: linear-gradient(
    45deg,
    rgba(95, 95, 251, 1) 0%,
    rgba(107, 160, 232, 1) 100%
  );
  margin: 0 20px 0 0;
}

.hideBtn[disabled],
.saveBtn[disabled] {
  opacity: 0.8;
  cursor: wait;
}

.expandBtn {
  background-color: #516ecd;
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 19px;
  font-weight: 100;
  width: calc(100% + 10px);
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
    margin: 0;
  }
}
