.container {
  background-color: white;
  flex: 1;
}

.header {
  padding: 20px;
  background-color: #516ecd;
  color: white;
}

.header h1 {
  opacity: 0.5;
  font-size: 13px;
  margin: 0;
}

.header h2 {
  font-weight: 100;
  font-size: 19px;
  margin: 18px 0px 7px 0;
}

.header span {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -1px;
}

.wallets {
  padding: 20px;
}

.wallets h2 {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.box-container {
  display: flex;
  margin-top: 10px;
}

.box-container > div {
  background-color: #8ac35f;
  color: white;
  width: 50%;
  padding: 10px;
}

.box:first-child {
  margin-right: 10px;
}

.box h3 {
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 6px 0;
}

.box span {
  display: block;
  font-size: 27px;
  font-weight: 100;
  letter-spacing: -1px;
  margin: 5px 0 2px 0;
}
