.container {
  background-color: white;
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.btnTransparent {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.header {
  padding: 30px;
  background: rgb(99, 112, 240);
  background: linear-gradient(
    45deg,
    rgba(99, 112, 240, 1) 0%,
    rgba(108, 162, 234, 1) 100%
  );
  color: white;
  position: relative;
}

.header h1 {
  font-size: 1.6em;
  margin: 0;
  font-weight: 500;
}

.header h2 {
  padding: 0;
  margin: 8px 0;
  font-weight: 100;
  font-size: 1.2em;
}

.header .title {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 25px 0;
}

.header span {
  font-weight: 600;
  font-size: 2em;
}

.header .balanceBox {
  text-align: center;
  padding: 20px 0 25px 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  margin-bottom: 10px;
}

.header .headerFooter {
  background-color: white;
  width: 100%;
  position: absolute;
  right: 0;
  height: 10px;
  border-radius: 5px;
  bottom: -5px;
}

.wallets {
  padding: 20px;
}

.wallets h2 {
  margin: 0;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 20px;
}

.actions {
  margin: 10px 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.walletList {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -5px 0 -5px;
}

.walletList > div {
  width: 100%;
  padding: 10px;
  margin: 9px 5px;
  cursor: pointer;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 4px;
}

.walletItem {
  display: flex;
}

.walletItem .badge {
  background-color: #516ecd;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  color: white;
  font-size: 1.5em;
  height: 50px;
  width: 50px;
  line-height: 50px;
}

.walletItem .title {
  width: calc(50% - 50px);
  padding-left: 15px;
}

.walletItem .title h3 {
  font-weight: 400;
  font-size: 14px;
  margin: 4px 0 6px 0;
}

.walletItem .value {
  align-items: center;
  color: #6464d4;
  display: block;
  display: flex;
  font-size: 1.15em;
  font-weight: 500;
  justify-content: end;
  letter-spacing: -1px;
  text-align: right;
  width: 50%;
}

.walletItem small {
  color: #a1a1a1;
}

.edit-btn {
  background-color: #516ecd;
  border: none;
  bottom: 20px;
  color: white;
  font-size: 19px;
  font-weight: 100;
  padding: 9px 28px;
  position: absolute;
  right: 20px;
  font-family: inherit;
  display: none;
  cursor: pointer;
}

.github svg {
  color: white;
  fill: currentColor;
  margin-right: 6px;
}

@media screen and (max-width: 750px) {
  .edit-btn {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
  }
}
